<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Quiz Index</title>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="navbar-brand"><b>Quiz</b></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'app_quiz:index'%}">Home<span class="sr-only">(current)</span></a>
                </li>
                </ul>
            </div>
        </nav>
    {% if latest_quiz_list%}
    <div class="jumbotron">
            <div class="container">
              <h1 class="display-3">Quiz Index</h1>
              <p>Select The quiz you would like to take</p>
            </div>
    </div>

    <div class="container">
        <div class='row'>
            {% for q in latest_quiz_list%}
            <div class="col-md-4">
                    <h2>{{q.name}}</h2>                    
                    <p>{{q.description}}</p>
                    <p><a class="btn btn-secondary" href="{% url 'app_quiz:quiz' q.id %}">Take!</a></p>        
                </div>   
            {% endfor%}
        </div>
    </div>
    {% else%}
    <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">No quizzes available :(</h1>
            </div>
          </div>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>