<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Quiz Index</title>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="navbar-brand"><b>Quiz</b></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'app_quiz:index'%}">Home<span class="sr-only">(current)</span></a>
                </li>
                </ul>
            </div>
        </nav>
    {% if latest_quiz_list%}
    <ul>
    {% for q in latest_quiz_list%}
        <li>
            <a href="{% url 'app_quiz:quiz' q.id %}">{{ q.name }}</a>
        </li>
    {% endfor%}
    </ul>
{% else%}
<p> No quizzes are available</p>
{% endif %}
</body>
</html>