<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>{{quiz.name}}</title>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="navbar-brand"><b>Quiz</b></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'app_quiz:index'%}">Home<span class="sr-only">(current)</span></a>
                </li>
                </ul>
            </div>
        </nav>
    <h1> {{ quiz.name}}</h1>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    {% if quiz.question_set.all %}
        <ul>
            <form action="{% url 'app_quiz:submit' quiz.id %}" method="post">
                {% csrf_token %}
                {% for q in quiz.question_set.all %}
                    <li><b>{{ q.text }} ({{q.value}} pts)</b><br />
                    {% if q.textAnswer is True %}
                        <div class="form-group">
                            <label for="question{{ q.id }}">Answer</label>
                            <textarea class="form-control" id="question{{ q.id }}" name="question{{ q.id }}" rows="1"></textarea>
                        </div>
                    {% else %}
                        {% for choice in q.multiplechoice_set.all %}
                            <div class="custom-control custom-radio"> 
                                <input type="radio" name="question{{ q.id }}" id="q{{ q.id }}choice{{ choice.id }}" class="custom-control-input" value={{choice.id}}>
                                <label class="custom-control-label" for="q{{ q.id }}choice{{ choice.id }}">{{ choice.text }}</label>
                            </div>
                        {% endfor %}
                    {% endif %}
                    </li>
                {% endfor%}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </ul>
    {% else %}
        <p>This quiz has no questions :/</p>
    {% endif %}
</body>

</html>